# Author: Nova Senco
# Last Change: 19 April 2021

snippet sout ""
System.out.println(${0:${VISUAL}});
endsnippet

snippet println ""
System.out.println("${0:${VISUAL}}");
endsnippet

snippet print ""
System.out.println(${0:${VISUAL}});
endsnippet

snippet printtf ""
System.out.printf("${1:%s}", ${0:${VISUAL}});
endsnippet

